/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width:80%;
    margin: auto;
}

.nav-bar{
    height: 100px;
    background-color: #e579e6;
}

.header-section{
    height:400px;
    background-color: #e1d67a;
    margin-top: 20px;
}

.clearfix{
    background-color: #0186fb;
    margin-top: 20px;
}

.row{
    height: 100px;
    background-color: #abcfe7;
}

.column{
    padding: 15px 0px;;
}
.column::after{
    content: "";
    display: table;
    clear: both;
}
.col_one{
    height: 480px;
    width: 20%;
    background-color: #abcfe7;
    float: left;
    /* margin-bottom: 10px; */
}

.col_two{
    height: 480px;
    width: 58%;
    background-color:#abcfe7;
    float: left;
    margin: 0px 10px 0px 11px;
   
}

.col_three{
    height: 480px;
    width: 20%;
    background-color:#abcfe7;
    float: left;
    /* margin-bottom: 10px; */
}

.footer-section{
    height: 100px;
    background-color: #8801fe;
    margin-top: 10px;
}