/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* wrapper */
.wrapper{
    width:80%;
    margin: auto;
    padding: 10px 0;
}
/* header section */
/* nav */
.nav-bar{
    height: 100px;
    background-color: #e579e6;
}
/* header */
.header-section{
    height:400px;
    background-color: #e1d67a;
    margin-top: 20px;
}
/* header section end */

/* main */

/* clearfix */
.clearfix{
    background-color: #0186fb;
    margin-top: 20px;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/* row main */
.row{
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 10px;
}
/* column main */
.col{
    float: left;
    background-color: #abcfe7;
    margin-bottom: 10px;
    height: 500px;
}
/* column setting */
.col_one{
    width: 20%;
    
}

.col_two{
    width: 56%;
    margin-left:2%;
    margin-right:2%;
}

.col_three{
    width: 20%;
}
/* column main and settings end */

/* footer */
.footer-section{
    height: 50px;
    background-color: #8801fe;
    margin-top: 10px;
}